body {
   background-image: url('../img/background\ 1.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   font-family: 'Roboto';
   width: 1023px;
   margin: 0 auto;

   display: grid;
   grid-template-areas: 
   "header"
   "article"
   "footer";
   grid-template-rows: 124px 608px 36px;
   grid-template-columns: 1fr;
}
header {
   display: flex;
   grid-area: header;
   justify-content: space-between;
   align-items: center;
}
footer {
   display: flex;
   grid-area: footer;
   justify-content: center;
   align-items: center;
   
}
article { 
   display: flex;
   grid-area: article;   
}

.logo a {
   display: flex;
   color: #FFFFFF;
   text-decoration: none;
   text-transform: uppercase;
}
.screen {
   background-image: url('../img/logo\ 3.png');
   width: 53px;
   height: 47px;
}
.logo :hover .screen {
   background: url('../img/logo\ 2.png');
   background-repeat: no-repeat;
}
.logo :hover .title{
   color: #F26522;
}
.title {
   margin-left: 8px;
   font-weight: 700px;
}
.word1 {
   font-size: 29px;
   line-height: 29px; 
}
.word2 {
   font-size: 18px;
   line-height: 18px;
   margin-top: 4px;
}

.contacts a {
   display: flex;
   color: #FFFFFF;
   text-decoration: none;
   font-size: 18px;
   line-height: 18px;
}
.phone_number{
   margin-top: 19px;
   padding-left: 74px;
}
.contacts :hover {
   color: #F26522;
}

.gallery {
   display: grid;
   grid-template-rows: repeat(2, 1fr);
   grid-template-columns: repeat(3, 1fr);
   column-gap: 61px;
   grid-template-areas:
   "item1 item2 item3"
   "item4 item5 item6"
}
.gallery li a {
   display: flex;
   color: #FFFFFF;
   font-size: 18px;
   line-height: 18px;
   flex-direction: column;
   align-items: center;
   text-decoration: none;
}
li {
   position: relative;
}
.gallery_text {
   margin-top: 20px;
}
.gallery_shopping_tours a {
   grid-area: item1;
}
.gallery_sightseeing_tours a {
   grid-area: item2;
}
.gallery_food_tours a{
   grid-area: item3;
}
.gallery_bars_and_nightlife a {
   grid-area: item4;
}
.gallery_art_and_architecture a {
   grid-area: item5;
}
.gallery_walking_tours a {
   grid-area: item6;
}
img {
   border: 4px solid transparent;
  }

.gallery_info {
   position: absolute;
   display: none;
   background-image: url('../img/Hover.png');
   width: 300px;
   height: 55px;
   top: 163px;

}
.info {
   display: flex;
   font-family: 'Roboto';
   justify-content: space-between;
   align-items: flex-end;
   margin-top: 7px;
}
.box-1 {
   display: flex;
   flex-direction: column;
   padding-left: 16px;
}
.info .from {
   font-size: 10px;
   line-height: 10px; 
} 
.info .cost {
   font-size: 20px;
   line-height: 20px;
   margin-top: 8px;
}
.box-2 {
   display: flex;
   padding-right: 14px;
}   
.info .details {
   font-size: 14px;
   line-height: 14px;
}
.pointer::after {
   display: flex;
   content: ">";
   width: 5px;
   height: 10px;
   padding-left: 16px;
}

li :hover .gallery_info {
   display: block;
   animation: 2s show ease;
}
@keyframes show {
   from {opacity: 0;}
   to {opacity: 1;}
}

li :hover .gallery_text {
   color: #F26522;
}

li :hover img {
   border: 4px solid; 
   border-image: linear-gradient(gray, black);
   border-image-slice: 1;
}

.page_footer_copyr {
   color: #FFFFFF;
   font-weight: 400;
   font-size: 12px;
   line-height: 12px;
   text-align: center;
}



